body {background-image: url("https://www.hydro.com/globalassets/08-about-hydro/hydro-worldwide/hydro_in_japan_tokyo.jpg?quality=85&width=1568&height=665&mode=crop&center=0.5,0.5");
    background-repeat: no-repeat;
    background-size: cover;
    }
    .mytext3 { font-size: 1.25em;
    color: black;
    }
    .title {font-size: 2.5em;
        display: flex;
        justify-content: center;
        }

    p1 {display: flex;
        justify-content: center;
        justify-content: space-between;
        color:black;
        font-weight: bold;}

    h1 {display: flex;
        justify-content: center;
        }

    .container {
        display: flex;
        flex-flow: row;
        min-height: 100vh;
        flex-wrap: wrap;
    }
    
    .box {
        color: black;
        display: flex;
        flex-direction: column;
        font-size: 1.25em;
        text-align: left;
        justify-content: left;
        align-items: flex-start;
        /*padding: 15px;*/
    
    }
        .box1 {width: 30%;}
        .box2 {width: 25%;}
        .box3 {width: 20%; font-size: 1.5em; text-align: center;}
        .box4 {width: 20%; font-size: 1.5em; text-align: center;}
        .box5 {width: 20%; font-size: 1.5em; text-align: center;}
        .box6 {width: 20%; font-size: 1.5em; text-align: center;}
        .box7 {width: 20%; font-size: 1.5em; text-align: center;}

        .container2 {
            display: flex;
            flex-flow: row;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
        }

        .container3 {
            display: flex;
            justify-content: center;
            flex-flow: row;
            width: 62%;
        }
        .container4 {
            display: flex;
            flex-flow: row;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
        }
        .container5 {
            display: flex;
            flex-flow: row;
            width: 50%;
            justify-content: center;
        }