body {background-image: url(https://lp-cms-production.imgix.net/2021-03/GettyRF_512268647.jpg?auto=format&q=40&ar=16%3A9&fit=crop&w=1446);
    background-repeat: no-repeat;
    background-size: cover;
    }
.mytext5 { font-size: 1.25em;
    color: black;
    }
.title {font-size: 2.5em;
        display: flex;
        justify-content: center;
        }

p1 {display: flex;
    justify-content: center;
    justify-content: space-between;
    color:black;
    font-weight: bold;}

h1 {display: flex;
            justify-content: center;
            }

    .container {
        display: flex;
        flex-flow: row;
        min-height: 100vh;
        flex-wrap: wrap;
    }
    
    .box {
        color: black;
        display: flex;
        flex-direction: column;
        font-size: 1.25em;
        text-align: left;
        justify-content: left;
        align-items: flex-start;
        /*padding: 15px;*/
    
    }
    .box1 {width: 30%;}
        .box2 {height:25%;}
        .box3 {width: 20%; font-size: 1.5em; text-align: center;}
        .box4 {width: 20%; font-size: 1.5em; text-align: center;}
        .box5 {width: 20%; font-size: 1.5em; text-align: center;}
        .box6 {width: 20%; font-size: 1.5em; text-align: center;}
        .box7 {width: 20%; font-size: 1.5em; text-align: center;}

        .container2 {
            display: flex;
            flex-flow: row;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
        }

        .container3 {
            display: flex;
            flex-flow: row;
            width: 62%;
        }
        .container4 {
            display: flex;
            flex-flow: row;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
        }
        .container5 {
            display: flex;
            flex-flow: row;
            width: 50%;
            justify-content: center;
        }