body {background-image: url("homebackground.jpg");
background-repeat: no-repeat;
background-size: cover;
}
.mytext { font-size: 1.25em;
color: black;
}
.title {font-size: 2.5em;
color: black;
display: flex;
justify-content: center;
}
p1 {display: flex;
justify-content: center;
justify-content: space-between;
color:pink;
font-weight: bold;}
h1 {display: flex;
justify-content: center;
}

.container {
    display: flex;
    flex-flow: row;
    min-height: 100vh;
    flex-wrap: wrap;
}

.box {
    color: black;
    font-size: 1.25em;
    font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center;
    /*padding: 15px;*/

}
.box1 {font-size: 1.25em;}
.box2 {font-size: 1.25em;}
.box3 {font-size: 1.25em;}

.container2 {
    display: flex;
    flex-flow: row;
    min-height: 100vh;
    flex-wrap: wrap;
}
